.choice {
  background-color: var(--choise-background-color);
  background-size: cover;
  height: auto;
  background-position: center;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.choice__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  max-width: 1200px;
  padding: 40px 32px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.choice__header {
  padding-top: 100px;
}

.choice__title,
.choice__special {
  color: var(--choise-title-color);
  font-family: "Lato", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50.4px;
  text-align: center;
}

.choice__special {
  color: var(--choise-special-color);
}

.choice__card {
  background-color: var(--choise-card-background-color);
  border: 1.6px solid var(--choise-card-border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px;
  box-sizing: border-box;
  transition-duration: 0.6s;
  transition-property: all;
}

.choice__card:hover {
  transform: translateY(-20px);
  box-shadow: 0 8px 20px var(--choise-card-box-shadow-color);
}

.choice__description {
  color: var(--choise-description-color);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  text-align: left;
}

.choice__image {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}

.choice__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choice-contact__button {
  display: block;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--choise-contact-button-color);
  transition: background-color 0.2s, color 0.2s;
  padding: 10px 15px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.choice-contact__button a {
  color: var(--choise-contact-button-color);
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: none;
}
.choice-contact__button:hover {
  background-color: var(--choise-contact-button-bavkground-hover-color);
}

@media (max-width: 768px) {
  .choice__container {
    grid-template-columns: 1fr;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
