.consultation-form-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: url(../img/about-us/background.png) center/cover no-repeat fixed;
}

.consultation-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
}

.consultation-item-1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.consultation-item-2 {
  background-color: #0d412e;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.consultation-item__text {
  font-family: "Lato", sans-serif;
  font-size: 33px;
  color: #f3b703;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  text-align: center;
}

.form-button button {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #f3b703;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error-message {
  color: red;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  background-color: white;
  border: 1px solid red;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  display: none;
}

.error .error-message {
  display: inline-block;
}

.error input {
  border-color: red;
}

.success input {
  border-color: green;
}