.footer__background {
    background-color: #07281b;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer__box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 0 20px;
}

.footer__content {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: white;
    margin-top: 10px;
}

.footer__links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon-footer {
    width: 40px;
    margin: 0 10px;
}

.footer__paragraph {
    font-size: 21px;
    color: white;
    margin-top: 20px;
}

.footer__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer__button-call {
    width: 250px;
    height: 40px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
}

.footer__button-call:hover {
    background-color: #F7D05B;
    color: #07281b;
    border: 2px solid #F7D05B;
}

.footer-end__background {
    background-color: #07281b;
    text-align: center;
    padding: 20px 0;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
}

.footer-end-item {
    text-align: center;
    margin: 10px;
    color: white;
}

.footer-logo {
    width: 120px;
}

.footer-paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: 5px;
}

@media (min-width: 768px) {
    .footer__box {
        grid-template-columns: repeat(2, 1fr);
    }
 
}


@media (min-width: 1024px) {
    .footer__box {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (max-width: 440px) {
    .footer-end {
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        display: flex;
        justify-items: center;
        margin: 0 auto;
    }
}