@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --selected-word-color: #f7d05b;
  --header-block-color: #f7d05b;
  --header-fa-brands-color: #f7d05b;
  --header-background-color: #07281b;
  --header-content-item-color: #f7d05b;
  --header-english-spirit-title-color: #f7d05b;
  --header-english-spirit-paragraph-color: #FFF;
  --header-content-button-background-color: #f7d05b;
  --header-content-button-color: rgb(7, 0, 0);
  --header-content-button-hover-color: #9eb3007c;
  --header-content-background-color: #07281b;
  --header-navbar-burger-color:rgba(133, 200, 17, 0.098);
  --hrader-navbar-contact-item-color: #FFF;
  --header-navbar-menu-list-color: #f7d05b;
  --header-navbar-close-color: #FFF;
  --header-button-background-color: #04281b;
  --header-button-color: #f7d05b;
  --promotion-paragraph-color: #272727;
  --promotion-sale-header-color: #f7d05b;
  --promotion-form-background-color: rgba(197, 191, 191, 0.843);
  --promotion-form-input-background-button-color: #f7d05b;
  --promotion-form-input-button-color: #000;
  --promotion-error-message-color: red;
  --promotion-error-message-backgraund-color: #FFF;
  --promotion-error-message-border-color: red;
  --promotion-error-input-border-color: red;
  --promotion-success-input-color: green;
  --promotion-countdown-container-color: #05281b;
  --promotion-countdown-color: red;
  --about-us-title-color:rgb(255, 255, 255);
  --about-us-description-part: rgb(255, 255, 255);
  --choise-background-color: rgb(245, 245, 245);
  --choise-title-color: rgb(39, 39, 39);
  --choise-special-color: rgb(247, 208, 91);
  --choise-card-background-color: rgb(255, 255, 255);
  --choise-card-border-color: rgb(248, 207, 90);
  --choise-card-box-shadow-color: rgba(0, 0, 0, 0.5);
  --choise-description-color: rgb(39, 39, 39);
  --choise-contact-button-background-color: rgb(240, 195, 2);
  --choise-contact-button-color: rgb(39, 39, 39);
  --choise-contact-button-bavkground-hover-color: #e0bb4d;
  --format-of-classes-format-text-adult-background-color: #05281b;
  --format-of-classes-format-text-kids-background-color: #f5f5f5;
  --format-of-classes-container-wraper-background-color: white;
  --format-of-classes-format-special-color:rgb(39, 39, 39);
  --format-of-classes-format-title-color: rgb(39, 39, 39);
  --format-of-classes-active-title-color: #ddbb55;
  --format-of-classes-container-adult-color: white;
  --innovation-advantages-main-text-color: #ffffff;
  --innovation-advantages-item-background-color: #0e412e;
  --innovation-advantages-item-box-shadow-color: rgba(0, 0, 0, 0.3);
  --innovation-advantages-item-box-shadow-hover-color: rgba(0, 0, 0, 0.5);
  --innovation-advantages-paragraph-color: #fff;
  --innovation-advantages-description-color: #fff;
  --innovation-advantages-button-color: #272727;
  --innovation-advantages-button-bakcground-color: #f7d05b;
  --innovation-advantages-button-bakcground-hover-color: #e0bb4d;
  --price-background-color: rgb(245, 245, 245);
  --price-header-description-color: rgb(39, 39, 39);
  --price-title-color: rgb(39, 39, 39);
  --price-item-border-color: rgb(248, 207, 90);
  --price-item-hover-border-shadow-color: rgba(0, 0, 0, 0.5);
  --price-title-descripyion-color: rgb(39, 39, 39);
  --price-title-descripyion-after-background-color: rgb(39, 39, 39);
  --price-note-text-color: rgb(148, 7, 7);
  --price-list-currency-background-color: rgb(248, 207, 90);
  --price-list-currency-color: rgb(5, 40, 27);



  --footer-background-color: #07281b;
  --footer-content-color: #FFF;
  --footer-paragraph-color: #FFF;
  --footer-button-call-color: #FFF;
  --footer-button-call-border-color: #FFF;
  --footer-button-call-background-hover-color: #f7d05b;
  --footer-button-call-border-hover-color: #f7d05b;
  --fotter-end-background-color:#07281b;
  --footer-end-item-color: #FFF;
  --footer-line-background-color: #04281b;
  --footer-line-color: #3a5348;



}

.container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}


.container__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container__item:first-child{
  text-align: left;
  margin-left: 50px;
}

.container__item:last-child {
  text-align: right;
  margin-right: 30px;
}
img {
  width: 100%;
  display: block;
}
