@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --header-block-color: #f7d05b;
  --header-fa-brands-color: #f7d05b;
  --header-background-color: #07281b;
  --header-content-item-color: #f7d05b;
  --header-english-spirit-title-color: #f7d05b;
  --header-english-spirit-paragraph-color: #FFF;
  --header-content-button-background-color: #f7d05b;
  --header-content-button-color: rgb(7, 0, 0);
  --header-content-button-hover-color: #9eb3007c;
  --header-content-background-color: #07281b;
  --header-navbar-burger-color:rgba(133, 200, 17, 0.098);
  --hrader-navbar-contact-item-color: #FFF;
  --header-navbar-menu-list-color: #f7d05b;
  --header-navbar-close-color: #FFF;
  --header-button-background-color: #04281b;
  --header-button-color: #f7d05b;
  --footer-background-color: #07281b;
  --footer-content-color: #FFF;
  --footer-paragraph-color: #FFF;
  --footer-button-call-color: #FFF;
  --footer-button-call-border-color: #FFF;
  --footer-button-call-background-hover-color: #f7d05b;
  --footer-button-call-border-hover-color: #f7d05b;
  --fotter-end-background-color:#07281b;
  --footer-end-item-color: #FFF;
  --footer-line-background-color: #04281b;
  --footer-line-color: #3a5348;



}

.container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}


.container__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container__item:first-child{
  text-align: left;
  margin-left: 50px;
}

.container__item:last-child {
  text-align: right;
  margin-right: 30px;
}
img {
  width: 100%;
  display: block;
}
