@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    scroll-behavior: smooth;
}

  .container {
    /* Загальні властивості для контейнера */
    display: flex; /* Наприклад, контейнери будуть flex-контейнерами */
    flex: 1 1 50%;
    
    justify-content: space-between; /* Рівномірний розподіл елементів по ширині */
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.container__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Center align items vertically */
}
  
  img {
    width: 100%;
    display: block;
  }

  