
.block {
    background-color: #07281b;
    height: 150px;
}

.block_content .container {
    display: flex;
    text-align: center;

}

.block__phone, .block__language {
    color: #F7D05B;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center; /* Center align the text */
    padding: 0 20px; /* Equal padding of 20px on left and right */
    margin: 20px 20px; /* Remove any default margins */
}

.content {
    background-color: #07281b;
}

.block__links {
    display: flex; /* Ensure links are displayed in a row */
    gap: 10px; /* Add a gap of 10px between links */
}

.block__link {
    color: white; /* Example link color */
    text-decoration: none; /* Remove underline */
}

.content  {
    background-color: #07281b;
    height: 150px;
    
}

.content__logo {
    width: 200px;
}

.english-spirit {
    background: url(../img/about-us/background.png);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    
}



.english-spirit__block {
    margin-top: 120px;
    margin-left: 100px;
}

.english-spirit__title {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    color: #F7D05B;

}

.english-spirit__paragraph{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.english-spirit__logo {
    width: 500px;
}