.promotion__description {
  display: grid;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.promotion__description-text {
  display: grid;
  gap: 10px;
  text-align: left;
  margin: 20px 0;
  transition: transform 0.3s ease-out;
}

.promotion__paragraph {
  text-align: start;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #272727;
}

.promotion__image {
  display: flex;
  margin: 0 auto;
  width: 70px;
}

.promotion__description-text:hover {
  transform: translateY(-10px);
}

@media (min-width: 768px) {
  .promotion__description {
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }

  .promotion__description-text {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.sale {
  display: grid;
  gap: 20px;
  justify-content: left;
  max-width: 1200px;
  margin: 0 auto;
}

.sale-header {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #f7d05b;
  margin: 20px 0;
}

.sale-paragraph {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  color: #272727;
  margin-bottom: 30px;
  font-weight: 500;
}

.selected-word {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  color: #f7d05b;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .form {
    grid-template-columns: 1fr 1fr;
  }

  .form-input input,
  .form-input button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(197, 191, 191, 0.843);
    border: 2px;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.form-img img {
  max-width: 100%;
  height: 100%;
}

.form-input {
  display: grid;
  gap: 20px;
}

.form-input-text {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  text-align: center;
}

.form-input input,
.form-input button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(197, 191, 191, 0.843);
  border: 2px;
  box-sizing: border-box;
}

.form-input button {
  background-color: #f7d05b;
  color: black;
  cursor: pointer;
  margin-top: 20px;
}
