.promotion__description {
  display: grid;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.promotion__description-text {
  display: grid;
  grid-template-columns: 1fr; /* Один стовпчик за замовчуванням */
  gap: 10px;
  text-align: left; /* Центрує текст по центру */
  margin: 0 50px;
}



.promotion__paragraph {
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #272727;
}

.promotion__image {
  display: flex;
  margin: 0 auto; /* Відцентрувати зображення по горизонталі */
  width: 100px; /* Ширина зображення (змініть за необхідністю) */
}
@media (min-width: 768px) {
  .promotion__description {
    grid-template-columns: repeat(4, 1fr); /* Чотири стовпчики на ПК */
    text-align: left; /* Вирівнюємо текст по лівому краю */
  }

  .promotion__description-text {
    text-align: center; /* Центруємо текст в кожному блоку */
    align-items: center; /* Вирівнюємо по центру */
    display: flex;
    flex-direction: column;
  }
}
