

.splide {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px auto;
  padding: 30px 40px;
  height:90vh;
}


.splide__list {
  display: grid;
}

.splide__list img {
  width: 120px;
  height: 120px;
  margin-left: 30px;
  object-fit: cover;

}

.splide__slide {
  background-color: #f5f5f5;
  padding: 50px 0;
  height: auto;

}

.splide__text {
  font-family: 'Lato', sans-serif;
  font-size: calc(var(--index) * 2);
  font-weight: 600;
}
.splide__paragraph {
  text-align: left;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: calc(var(--index)* 0.8);
}
