.reviews__section {
  text-align: center;
  padding: 20px;
}

.reviews__title {
  font-size: 32px;
  color: var(--reviews-title-color);
  margin-bottom: 20px;
}

.reviews__carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__button {
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.reviews__button--prev {
  left: 10px;
}

.reviews__button--next {
  right: 10px;
}

.reviews__slides {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.reviews__slide {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--reviews-slide-background-color);
  text-align: left;
  color: var(--reviews-slide-color);
  font-size: 16px;
  display: none;
}

.reviews__slide--active {
  display: block;
}

.reviews__photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  float: left;
  margin-right: 10px;
}

.reviews__name {
  font-size: 21px;
  color: var(--reviews-title-color);
  margin: 0;
  line-height: 25.6px;
  clear: both;
}

.reviews__indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reviews__indicator {
  width: 10px;
  height: 10px;
  background-color: var(--reviews-slide-background-color);
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px;
}

.reviews__indicator--active {
  background-color: var(--reviews-indicator-active-color);
}

.more {
  font-family: "Lato", sans-serif;
  color: #07281b;
  font-size: 15;
  font-weight: 700;
}
.more-text {
  display: none;
  color: #07281b;
}

.reviews__slide {
  display: none;
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.reviews__slide--active {
  display: block;
}

.more-text {
  display: none;
}

.reviews__slides {
  display: flex;
  overflow: hidden;
}
