.trial-lesson__background {
  background: url(../img/about-us/background.png);
  padding: 50px 10px;
}

.trial-lesson__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
}

.trial-lesson__item-1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.trial-lesson__item-2 {
  max-width: 500px;
  margin: 0 auto;
 
}

.trial-lesson__title {
  text-align: start;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "lato", sans-serif;
  font-size: 33px;
  color: #f7d05b;
}

.trial-lesson__list {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #fff;
}

li img {
  width: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.trial-lesson__form-container {
  background-color: #0c412e;
  flex-basis: 48%;
  padding: 20px 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.trial-lesson__form-title {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f7d05b;
  text-align: center;
}

.trial-lesson__form-group {
  margin-bottom: 20px;
  text-align: left;
}

.trial-lesson__form-group input[type="text"],
.trial-lesson__form-group input[type="tel"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #4b6f60;
}

.trial-lesson__form-button {
  margin-top: 20px;
}

.trial-lesson__form-button button {
  width: 100%;
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #f7d05b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .trial-lesson__item,
  .trial-lesson__form-container {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }
}

@media (max-width:400px) {
  .trial-lesson__form-container{
    justify-content: left;
    width: 65%;
    margin: 0 auto;
  }
}

.trial__error-message {
  color: red;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  background-color: white;
  border: 1px solid red;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  display: none;
}

.trial__error .trial__error-message {
  display: inline-block;
}

.trial__error input {
  border-color: red;
}

.trial__success input {
  border-color: green;
}
